.corpo{
    color: aliceblue;
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-top: 30px;
    

    
}
.corpo h1{
    font-size: 50px;
}
.infos{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-left: 15px;
    
}

.container{
    color: aliceblue;
    display: grid;
    grid-template-columns: 11fr 3fr;
    justify-content: center;
    align-items: center;
    width: 600px;

}

.status{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.btn-info-delete{
    color: rgb(176, 25, 25);
    cursor: pointer;
}
.btn-info-edit{
    color: white;
    
}

button{
    background-color: transparent;
    border: none;
    font-size: 1.5rem;
    
}

    .container input{
    display: flex;
    flex-direction: column;
    border: none;
    font-size: 1rem;
    outline: none;
    padding: 1rem;
    width: 27rem;
    border-radius: 1rem;
}

select{
    gap: 5rem;
    border: none;
    font-size: 1rem;
    outline: none;
    padding: 1rem;
    width:15rem;
    border-radius: 1rem;
    transition: .4s;
}

@media only screen and (max-width: 600px) {
    .container input{
        width: 15rem;
    }
  }

.input-select{
    margin-top: 1rem;
}